body {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: #f9f7fe;
        margin: 100px auto;
        max-width: 900px;
}

h4{
        text-transform: capitalize;
        color:#EC6E4C;
}

input {
        border-style:none;
        background-color: rgb(243, 243, 243);
        border-radius: 6px;
        padding: 10px;
}

#city-display{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

#city-input{
    font-size: 15px;
    height:50px;
    width: 100%;
}

#current-time{
   color:#EC6E4C;
}

#info{
   color:#EC6E4C;
   margin: 2px;
   text-align: center;
}

#temperature {
    color: grey;
    font-size: 50px;
}

.bigIcons{
    text-align: center;
}

.btn {
background-color:rgb(248, 212, 135) ;
color: white;
width: 100%;
font-size: 17px;
font-weight: bold;
height: 50px;
text-align: center;
border-radius: 6px;
border-style: none;
}

btn:hover{
    color: #EC6E4C;
}

.gitLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.261);
}

.netLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.261);
}

.smallInfo{
    padding: 5px;
    text-align: center;
    
}

.smallInfo2{
    opacity:0.5 ;
    padding: 5px;
    text-align: center;
}

.weather-app-wrapper {
  padding: 30px;
  background: rgb(255, 255, 255);
  border: #dadde1;
}

.weather-forecast{
    margin-top: 40px ;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}

.weather-forecast-date{
font-size: 16px;
opacity:0.5 ;
}

.weather-forecast-temperatures{
    font-size: 15px;
}

.weather-forecast-temperature-min{
    opacity:0.7;
}

.weather-forecast-temperature-max{
    color:#EC6E4C;
}